@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply font-sans;
}

.active hr {
    @apply block
}

::-webkit-scrollbar {
    @apply hidden
}